@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html, body {
	@apply h-full overflow-hidden;
	font-family: "Inter", sans-serif;
}

.inter {
	font-family: "Inter", sans-serif;
	font-weight: 700;
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  justify-content: center;
}


